body {
	/*font-family: 'Varela Round', sans-serif;*/
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%; 
}
html{ 
	height: 100%; 
	overflow-x: hidden;
}
ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}
/** {
	-moz-transition: all 0.3s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}*/
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
	color: black;
	font-weight: 700;
}
.upper {
	text-transform: uppercase;
}
.bolder {
	font-weight: 700;
}
.wht{
	color: white;
}
.dark{
	color: #9f9fa1;
}
.container{
	position: relative;
}
header ul li a{
	color: #26272d;
}
header{
	padding-top: 44px;
	background: url(../img/Photo.png) no-repeat center bottom / cover;
}
.header__firstmenu img{
	margin-top: 6px;
}
.header__firstmenu img,
.header__firstmenu nav ul li{
	float: left;
	margin-right: 40px;
}
.header__lastmenu ul li{
	float: left;
	margin-left: 30px;
}
.header__lastmenu ul li:first-child{
	margin-left: 0;
}
.header__firstmenu nav ul li a,
.header__lastmenu ul li a{
	font-size: 14px;
	font-weight: 700;
}
.header__btn{
	background: #267df4;
	color: white;
	padding:13px 18px;
	border-radius: 30px;
}
.header__btn i{
	margin-right: 7px;
}
h1{
	font-size: 62px;
	font-family: 'Varela Round', sans-serif;
	color: #26272d;
	margin-top: 118px;
	margin-bottom: 30px;
}
.header__text{
	font-size: 20px;
}
.header__btnnew{
	background: rgba(0,0,0,0);
	border: 1px solid #dadcde;
	padding: 19px;
	border-radius: 30px;	
	cursor: pointer;
	width: 208px;
	display: block;
	margin: 0 auto;
	margin-top: 64px;
	white-space: nowrap;
}
.header__btnnew i{
	margin-right: 15px;
}
.header__iphone {
	background: url(../img/iphone1.png) no-repeat center top;
	height: 453px;
	width: 369px;
	margin: 0 auto;
	margin-top: 54px;
}
.about__blockone,
.about__blocktwo{
	width: 90%;
	margin-left: 50px;
	margin-top: 120px;
	margin-bottom: 126px;
}
.about__blockone div,
.about__blocktwo div{
	font-size: 18px;
	color: #8c8f94;
}
.about__title{
	font-size: 26px;
	color: #26272d;
	margin-top: 44px;
	margin-bottom: 44px;
}
.about__line{
	border: 2px solid #f4f4f4;
}
.protect__btn{
	width: 200px;
	background: #267df4;
	border-radius: 30px;
	padding: 13px 0;
	border: 1px solid #267df4;
	color: white;
	font-size: 16px;
	margin-right: 20px;
}
.protect__btn i{
	margin-left: 16px;
}
.protect__btnnew{
	width: 142px;
	background: rgba(0,0,0,0);
	border-radius: 30px;
	border: 1px solid #e9e9ea;
	padding: 13px 0;
	font-size: 16px;
}
.protect__block{
	margin-top: 260px;
	margin-bottom: 265px;
}
.protect__iphone{
	position: absolute;
	top: 123px;
	left: -363px;
}
h2{
	font-family: 'Varela Round', sans-serif;
	font-size: 42px;
	margin-bottom: 73px;
}
.iframe{
	margin-top: 15px;
	width: 100%;
	height: 500px;
}
.protect__block div,
.everywhere__block div{
	font-size: 20px;
	color: #8c8f94;
	margin-bottom: 67px;
}
.everywhere{
	margin-top: 170px;
	margin-bottom: 222px;
}
.everywhere__map{
	position: absolute;
	left: 538px;
}
.partners{
	text-transform: uppercase;
	color: black;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 30px;
}
.everywhere__photo1{
	margin-right: 30px;
}
.screens{
	background: #f5f5f8;
}
.screens h2{
	margin-top: 136px;
	margin-bottom: 47px;
}
.screens__title:after{
	content: '';
	width: 50px;
	height: 2px;
	background: #267df4;
	display: block;
	margin: 0 auto;
	margin-bottom: 43px;
}
.screens__undertitle{
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #8c8f94;
	text-align: center;
	margin-bottom: 44px;
	margin-top: 30px;
}
/*.screens__photo{
	background: url(../img/bg2.png) no-repeat center center;
	height: 910px;
	margin-bottom: 70px;
}*/
.screens__photo img {
    width: 19.7%;
}
.screens__secondtitle{
	margin-top: 0px !important;
}
.screens__form{
	position: relative;
}
.screens__email{
	width: 500px;
	background: rgba(0,0,0,0);
	border: 1px solid #cbcbce;
	border-radius: 30px;
	padding: 15px 0;
	padding-left: 23px;
}
.screens__form{
	width: 500px;
	display: block;
	margin: 0 auto;
	margin-bottom: 62px;
}
.screens__btn{
	position: absolute;
	float: right;
	width: 161px;
	background: #6fc754;
	padding: 10px 0;
	border-radius: 30px;
	border: 1px solid #6fc754;
	cursor: pointer;
	left: 333px;
	top: 5px;
	color: white;
}
.screens__btn:hover{
	color: white;
}
.screens__btn i{
	margin-left: 9px;
}
.screens__secondbtn{
	display: block;
	margin: 0 auto;
	margin-bottom: 130px;
}
.customers__slider div img{
	margin: 0 auto;
}
.customers__slider{
	margin-top: 95px;
    margin-bottom: 54px;
}
/*.customers__slider{
	height: 240px;
}
.customers__slider img:nth-child(1){
	float: left;
	margin-top:124px;
	margin-left: 20px;
}
.customers__slider img:nth-child(2){
	margin-left: 250px;
	margin-right: 89px;
}
.customers__slider img:nth-child(3){
	margin-top: 75px;
    margin-right: 75px;
}
.customers__slider img:nth-child(4){
	
}
.customers__slider img:nth-child(5){
	float: right;
	margin-top:124px;
	margin-right: 20px;
}*/
.customers__slider .slick-prev{
	background: url(../img/left.png) no-repeat center center !important;
}
.customers__slider .slick-next{
	background: url(../img/right.png) no-repeat center center;
}
.customers__slider .slick-arrow{
	width: 22px;
	height: 41px;
}
.slick-next:before,
.slick-prev:before{
	content: none;
}
.slick-slide{
    outline: none;
}
.slick-active{
	border: none;
	outline: none;
}
.slick-slide img{
	width: 90px;
    height: 90px;
    border-radius: 50%;
    opacity: 0.25;
    margin-top: 21px !important;
}
.slick-center img{
	width: 130px;
    height: 130px;
    opacity: 1;
    margin-top: 0px !important;
    box-shadow: 16px 28px 71px -7px rgba(0,0,0,0.28);
}
.slick-center {
    margin-bottom: 75px;
}
.customers__stars{
	width: 152px !important;
	height: 23px !important; 
	border-radius: 0px !important;
	opacity: 1 !important;
}
.customers__title{
	font-size: 32px;
	font-weight: 300;
	color: #26272d;
	margin-top: 0px;
	margin-bottom: 47px;
}
.customers__undertitle{
	text-align: center;
	margin: 0 auto;
	color: #8c8f94;
	font-size: 20px;
	width: 48%;
}
.customers__stars{
	margin: 0 auto;
	display: block;
	margin-top: 33px;
	margin-bottom: 64px;
}
.plan{
	background: #f4f4f5;
	padding-top: 
}
.plan__about{
	margin-top: 75px;
	margin-bottom: 45px;
	width: 305px;
	color: #8c8f94;
	font-size: 20px;
}
.plan__href{
	text-decoration: underline;
	color: #267df4;
}
.plan__blockone{
	background: #fff;
	padding: 75px 52px;
	width: 92%;
	text-align: center;
	box-shadow: 0 10px 30px rgba(92,95,101,0.8);
	margin-top: 155px;
	margin-left: 58px;
	z-index: 10;
	position: relative;
	border-radius: 7px;
}
h6{
	font-size: 32px;
	font-weight: 300;
	color: #26272d;
	margin-bottom: 29px;
}
.plan__undertitle{
	font-size: 11px;
	font-weight: 700;
	color: #000;
	border: 1px solid #d4d4d5;
	display: inline-block;
	border-radius: 30px;
	padding: 8px 15px;
	margin-bottom: 54px;
}
.plan__blocktext{
	font-size: 20px;
	font-weight: 400;
	color: #8c8f94;
	margin-bottom: 44px;
}
.plan__blocklist{
	margin-bottom: 89px;
}
.plan__blocklist li{
	font-size: 16px;
	color: black;
	font-weight: 700;
}
.plan__blocklist i{
	color: #6fc754;
	margin-right: 10px;
}
.plan__blockbtn{
	background: #267df4;
	color: white;
	border-radius: 30px;
	padding: 15px 17px;
}
.plan__blocktwo{
	padding: 37px 52px;
	background: #ebebed;
	margin: 179px 0;
	z-index: 9;
	position: relative;
}
.plan__blockbtntwo{
	color: #267df4;
	border: 1px solid #267df4;
	background: rgba(0,0,0,0);
	border-radius: 30px;
	padding: 15px 17px;
}
.subscribe{
	padding-top: 86px;
	padding-bottom: 86px;
}
.footer__menu ul li a{
	color: #8c8f94;
	font-size: 12px;

}
.footer__menu ul {
	float: left;
}
.footer__menu ul:nth-child(1){
	margin-right: 100px;
}
.footer__menu ul:nth-child(2){
	margin-right: 65px;
}
.footer__titlesmall{
	color:black;
	font-size: 12px;
	font-weight: 700;
}
.footer__line{
	margin-bottom: 38px;
}
.footer__undertitle{
	float: left;
	text-transform: none;
	margin-bottom: 30px;
}
.footer__lastblock img{
	float: right;
	margin-top: -13px;
}
