@media screen and (max-width: 1199px){
	.customers__slider img:nth-child(2){
		margin-left: 154px;
	}
}
@media screen and (max-width: 991px) { 
	#menu{
		display: none;
	}
	.about__blockone,
	.about__blocktwo{
		margin: 0;
		padding: 0;
		text-align: center;
		margin-top: 71px;
		margin-bottom: 45px;
	}
	.about__blockone div{
		margin-top: 74px;
	}
	.about__img{
		margin: 0 auto;
		display: block;
	}
	.protect__iphone{
		display: none;
	}
	.protect__block{
		margin-top: 40px;
		margin-bottom: 0;
	}
	h2{
		margin-bottom: 40px;
	}
	.everywhere{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.everywhere__map{
		display: none;
	}
	.customers__slider img:nth-child(2) {
		margin-left: 78px !important;
		margin-right: 54px;
	}
	.customers__slider img:nth-child(3) {
		margin-right: 31px;
	}
	.plan__blockone{
		margin: 0;
		margin-bottom: 60px;
	}
	.plan__block{
		display: none;
	}
	.plan h2{
		margin-top: 72px;
		text-align: center;
	}
	.footer__line{
		margin-top: 45px;
	}
	.footer__social{
		display: none;
	}
	.footer__menu{
		display: none;
	}
	.plan__about{
		margin-top: 37px;
		margin-bottom: 26px;
	}
	.subscribe{
		padding-bottom: 58px;
	}
	.box-modal{
		width: 700px;
	}
	.iframe{
		height: 400px;
	}
}
@media screen and (max-width: 850px){
	.screens__photo img:first-child,
	.screens__photo img:last-child{
		display: none;
	}
	.screens__photo img{
		width: 31.7%;
	}
}
@media screen and (max-width: 767px){
	.header__logo{
		float: right;
	}
	.screens__form{
		display: none;
	}
	.plan__blockone{
		width: 100%;
	}
	.about__blockone,
	.about__blocktwo{
		width: 100%;
	}
	.subscribe h2,
	.dnone {
		display: none;
	}
	.box-modal{
		width: 500px;
	}
	.iframe{
		height: 300px;
	}
}
@media screen and (max-width: 575px){
	.footer__undertitle{
		display: none;
	}
	.header__iphone{
		display: none;
	}
	.header__btnnew{
		margin-bottom: 147px;
		color: black;
		border: 1px solid black;
	}
	.header__text{
		color: black;
	}
	h1{
		font-size: 49px;
	}
	.protect__btn,
	.everywhere__photo1{
		margin-bottom: 18px;
	}
	.box-modal{
		width: 300px;
	}
	.iframe{
		height: 200px;
	}
	.slick-prev{
		left: 6px;
	}
	.slick-next{
		right: 6px;
	}
	.dispn{
		display: none;
	}
}
@media screen and (max-width: 420px){
	.screens__photo img{
		width: 80%;
		margin-bottom: 20px;
	}
}