body {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%; 
}
html{ 
	height: 100%; 
}
ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}
/** {
	-moz-transition: all 0.3s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}*/
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
section {
	width: 100%;
	margin: 0 auto;
	
}
#firstscreen {
	height: 950px;
	background: #dfe3e6 url("../img/bg.jpg") no-repeat center top / cover;
}
header {
	width: 1000px;
	height: 60px;
	background: #f2f1f2;
	margin: 0 auto;
	box-shadow: 0 0 30px rgba(0,0,0,0.7);
	font-family: 'Kelly Slab', cursive;
	position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000000;
}
.green {
	color: #26BD35;
}
#menu {
    line-height: 60px;
}
#menu li {
	float: left;
    margin-left: 70px;
}
#menu li a{
	color: #5b5b5b;
	font-weight: 600;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
	position: relative;
}
.content {
	width: 500px;
    padding-top: 50px;
}
.logo {
	margin-bottom: 80px;
}
.logo img {
	width: 182px;
    margin-left: 66px;
    margin-top: 28px;
}
h1 {
	font-family: 'Kelly Slab', cursive;
	font-weight: 600;
	text-align: center;
	font-size: 50px;
}
.btn {
	text-align: center;
    color: white;
    padding: 12px 0px;
    border-radius: 11px;
    width: 270px;
    display: block;
    margin: 0 auto;
    font-size: 23px;
    background: #26BD35;
}
.why {
    margin-top: 56px;
    font-size: 28px;
    margin-left: 32px;
}
.form {
    width: 393px;
    height: 500px;
    background: rgba(46, 46, 46, 1);
    position: absolute;
    top: 95px;
    right: 0px;
    border-radius: 10px;
}
.form__title {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 34px;
    text-align: center;
    padding-top: 17px;
    margin-bottom: 20px;
}
.form__title span {
	color: #26BD35;
}
.onlinefit {
	color: #26BD35;
}
.form form {
	text-align: center;
}
.form form input{
    width: 217px;
    height: 39px;
    padding-left: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.takehelper {
	width: 210px;
    height: 30px;
    font-size: 20px;
}
.links {
    line-height: 60px;
    float: right;
}
.links li {
	float: left;
	margin-right: 20px;
}
.links li a {
	color: #949494;
	font-size: 29px;
}
.its__item {
    float: left;
    width: 270px;
    margin-top: 45px;
    box-shadow: 0 0 16px -7px rgba(0,0,0,0.3);
    padding: 26px 25px;
}
.its__item:first-child {
    margin-left: 94px;
    margin-right: 50px;
}
.its__item:nth-child(2) {
    margin-right: 50px;
}
.its__title {
	text-align: center;
    font-weight: 600;
    font-size: 21px;
    color: #2e2e2e;
}
.its__item img {
	margin: 0 auto;
	display: block;
	margin-bottom: 15px;
}
.title {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Kelly Slab', cursive;
	font-weight: 600;
	font-size: 60px;
	text-shadow: #ffffff 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
	margin-top: 40px;
	color: #2E2E2E;
}
.its__content {
	color: #5B5B5B;
    font-size: 21px;
    margin-top: 15px;
}
.its__content:after {
	width: 270px;
	height: 1px;
	content: "";
	clear: both;
	display: block;
	background: black;
	margin-top: 15px;
}
#secondscreen {
	padding-bottom: 20px;
}
.who__item {
    width: 380px;
}
.who {
    display: block;
    margin: 0 auto;
    width: 871px;
    margin-bottom: 30px;
}
.who__firstline i,
.who__secondline i {
    color: #26bd35;
    font-size: 72px;
    display: block;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 25px;
}
.who__firstline .who__item,
.who__secondline .who__item {
	float: left;
}
.who__firstline .who__item:nth-child(2),
.who__secondline .who__item:nth-child(2) {
	float: right;
}
.who__form {
	background: #2e2e2e;
}
.who__form form {
	text-align: center;
}
.who__form form input{
    width: 217px;
    height: 39px;
    padding-left: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 75px;
}
.who__form form input:nth-child(3){
    margin-right: 0px;
}
.who__formtitle {
	margin-bottom: 39px;
}
.who__form form a{
    margin-top: 7px;
    padding: 8px 14px;
    transform: translate(133.6%, 0%);
}
.who__form {
	padding-bottom: 30px;
	width: 1000px;
    margin: 0 auto;
}
.secondwhy {
	width: 794px;
    margin: 0 auto;
}
.secondwhy__item {
    width: 320px;
    text-align: center;
    padding-top: 35px;
}
.secondwhy__item img{
	width: 220px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.line:nth-child(1){
	float: left;
}
.line:nth-child(2){
	float: right;
}
.secondwhy__item div {
	font-size: 24px;
	color: #5B5B5B;
	padding: 10px 0;
	font-weight: 600;
	letter-spacing: 2px;
}
.secondwhy__item:after {
	width: 200px;
	height: 3px;
	content: "";
	clear: both;
	display: block;
	margin:0 auto;
	background: #5B5B5B;
	margin-top: 15px;
	margin-bottom: 20px;
}
#result {
	padding: 30px 0;
}
.result__content {
	border-top: 5px dotted black;
	border-bottom: 5px dotted black;
}
.result__container {
	max-width: 1000px;
	margin: 0 auto;
}
.slider img {
	width: 500px;
    display: block;
    margin: 65px auto;
}
#comments {
	padding-bottom: 50px;
}
.adv__formtitle {
	text-align: left;
    margin-left: 62px;
}
.adv__btn {
	width: 280px;
	transform: translate(92.6%, 0%) !important;
}
.adv__content .title {
	text-align: center;
	display: block;
}
.adv__item img {
	width: 170px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.adv__items {
    width: 900px;
    margin: 0 auto;
    padding: 40px 0px;
    font-family: oswald,sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #5B5B5B;
    border-bottom: 5px dotted black;
    margin-bottom: 15px;
}
.adv__item {
	width: 380px;
    text-align: center;
    padding-bottom: 20px;
}
.adv__item:nth-child(1),
.adv__item:nth-child(3) {
	float: left;
}
.adv__item:nth-child(2),
.adv__item:nth-child(4) {
	float: right;
}
#step {
	padding: 30px 0px;
	padding-bottom: 20px;
}
.step__blocks {
    margin: 0 auto;
    display: block;
    width: 1050px;
    color: white;
    height: 203px;
    border-radius: 55px;
    position: relative;
}
.step__blocks .number {
	position: absolute;
	top: 0;
	left: 0;
    background: rgba(255,255,255,0.35);
    font-size: 40px;
}
.step__blocks span {
    text-align: center;
    padding: 75px 120px;
	font-size: 35px;
    text-align: center;
    padding: 75px 120px;;
}
.step__blocks .text {
    position: absolute;
    top: 0;
    left: 0;
}
#step .title {
	margin-bottom: 50px;
}
.step__blocks:nth-child(2) .number{
	padding: 72px 122px;
}
.step__blocks:nth-child(2) .text{
	transform: translate(33%,-11%);
}
.step__blocks:nth-child(3) .text{
	transform: translate(31%,0);
}
.step__blocks:nth-child(4) .text{
    transform: translate(24%,-17%);
}
.step__blocks:nth-child(5) .text{
	transform: translate(24%,-18%);
}
.firststep {
	position: relative;
	margin-bottom: 139px;
}
.firststep img {
	transform: translate(-86%, 2%);
	width: 240px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
.firststep .title {
	transform: translate(-13%, 34%);
}
#footer {
	background: #2e2e2e;
}
.pay img {
	width: 80px;
	height: 80px;
}
.head {
    width: 960px;
    margin: 0 auto;
    padding-top: 40px;
}
.head a img {
	margin-right: 35px;
}
.images a:last-child img {
	margin-right: 0px;
}
.head .tit {
	font-size:50px;
	font-weight: bold;
	color: white;
	font-family: 'Kelly Slab', sans-serif;
	float: left;
	margin-right: 50px;
	margin-left: 27px;
}
.head .images {
	float: left;
}
.phone {
	width: 600px;
    margin: 0 auto;
    border-top: 5px dotted white;
	border-bottom: 5px dotted white;
    margin-top: 40px;
    padding: 22px 0px;
}
.phone__tit{
	font-size:40px;
	font-weight: bold;
	color: white;
	font-family: 'Kelly Slab', sans-serif;
	float: left;
	margin-right: 40px;
	padding-top: 13px;
    margin-left: 30px;
}
.phone__img{
	float: left;
}
.phone__telegram{
	margin-right: 20px;
}
.pay__tit {
	text-transform: uppercase;
	font-size:40px;
	font-weight: bold;
	color: white;
	font-family: 'Kelly Slab', sans-serif;
	text-align: center;
	margin-top: 30px;
}
.pay__img {
	width: 600px;
    margin: 0 auto;
    padding: 30px 0px;
}
.pay__img img {
	margin-right: 33px;
}
.pay__img img:nth-child(1){
	margin-left: 39px;
}
.pay__img img:nth-child(5){
	margin-right: 0px;
}
.footer__form {
	width: 910px;
    margin: 0 auto;
    padding-left: 10px;
}
.footer__formtitle {
	font-size: 30px;
	color: white;
    margin-bottom: 25px;
}
.footer__form form input {
	width: 217px;
    height: 39px;
    padding-left: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 90px
}
.footer__form form input:nth-child(3){
    margin-right: 0px
}
.textarea {
	width: 906px;
	height: 100px;
    padding-top: 17px;
    padding-left: 17px;
    border-radius: 23px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.footer__form form a{
	margin-top: 7px;
    padding: 8px 14px;
    width: 190px;
    transform: translate(156.6%, 0%) !important;
}
footer {
	padding-bottom: 40px;
}