
@media screen and (max-width: 1208px) {
	.form {
		width: 325px;
		height: auto;
		right: 15px;
	}
	h1 {
		font-size: 39px;
	}
	.slog {
		font-size: 29px;
    	margin-left: 19px;
	}
	.about__img {
	    margin-left: 52px;
	}
	.eating__logo .logo {
	    margin-right: 50px;
	}
	.eating__content {
	    margin-left: 50px;
	}
}
@media screen and (max-width: 1000px) {
	header {
		width: 100%;
	}
	.content {
	    display: none;
	}
	.about__img {
		margin: 0 auto;
    	float: none;
    	display: block;
    	width: 300px;
    	padding-top: 33px;
	}
	.about__title {
		position: absolute;
    	top: -10px;
	}
	.about__title,
	.about__undertitle,
	.about__logo {
		width: 100vw;
	}
	.about__text,
	.about__info {
     	width: 90%;
     	margin: 0 auto; 
     	text-align: center;
	}
	.onlinefit__content {
    	width: auto; 
	}
	.onlinefit__item:nth-child(1),
	.onlinefit__item:nth-child(3) {
	    margin-right: 0px; 
	}
	.form {
		display: none;
	}
	.formid6 input:last-child {
		transform: none !important;
		margin: 0 auto !important;
	}
	.line:nth-child(1),
	.line:nth-child(2) {
		float: none;
	}
	.secondwhy {
		width: 100%;
	}
	.secondwhy__item {
		margin: 0 auto;
	}
	.adv__btn {
		transform: none !important;
	}
	.head {
		width: 100%;
	    padding: 0px;
	}
	.phone div img {
		margin: 0px;
	}
	.telegramandviber {
    	width: 87px;
    	margin: 0 auto;
	}
	.footer__form {
		width: 100%;
	}
	.head .images {
		float: none;
		width: 161px;
		display: block;
		margin: 0 auto;
	}
	.head .tit{
		float: none;
		text-align: center;
		margin-bottom: 21px;
		padding-top: 25px;
		margin-right: 0px;
	    margin-left: 0px;
	}
	.phone {
		width: 100%;
	}
	.footer__formtitle {
		text-align: center;
	}
	.footer__form form{
		text-align: center;
	}
	.footer__form form input{
		margin-right: 0px;
	}
	.textarea{
		width: 80%;
		margin-left: -17px;
	}
	#showblock {
		display: none;
	}
	.consultation__logo {
		display: none;
	}
	.consultation__content{
		width: auto;
		float: none;
		margin-left: 0;
	}
	.consultation__text h1 {
		margin-left: 0;
		margin-right: 0;
	}
	.whatweget__item {
	    width: 100%;
	    height: auto;
	    position: relative;
	    margin-bottom: 30px;
	}
	.whatweget__item div {
	    left: 0;
	    top: 0;
	    padding: 0 15px;
	    transform: none;
	    text-align: center;
	    padding-top: 150px;
	    position: relative;
	    font-size: 24px;
	    font-weight: bold;
	}
	.whatweget__item img {
	    width: 143px;
	    left: 50%;
	    position: absolute;
	    transform: translate(-50%, 0);
	}
	.who__form {
    	width: 100%;
	}
	.who__form form input {
	    width: 217px;
	    height: 39px;
	    padding-left: 18px;
	    border-radius: 10px;
	    margin: 0 auto !important;
	    display: block;
	    margin-bottom: 20px !important;
	}
	.btn {
	    padding: 12px 3px;
	    width: 139px;
	    font-size: 12px;
	}
	.who__form form input:nth-child(6),
	.who__form form input:nth-child(5),
	.who__form form input:nth-child(4) {
		margin: 0;
	}
	.who__form form input:last-child {
	    padding: 13px 8px;
	}
	.testing__content {
    	width: 300px;
	}
	.testing__sex img {
    	width: 120px;
	}
	.programs__item {
	    width: 287px;
	    margin: 0 auto;
	    margin-bottom: 33px;
	}
	.eatingprograms__content {
	    padding: 20px 0px;
	    display: block; 
	}
	.programs__item:first-child{
		margin: 0 auto;
		margin-bottom: 33px;
	}
}
@media screen and (max-width: 830px) {
	.links {
		display: none;
	}
	.title {
		font-size: 38px;
	}
	.content {
		width: 100%;
	}
	h1 {
    	text-align: left;
    	margin-left: 46px;
	}
}
@media screen and (max-width: 775px) {
	.links {
		display: none;
	}
	.title {
		font-size: 38px;
	}
	.content {
		width: 100%;
	}
	h1 {
    	text-align: left;
    	margin-left: 46px;
	}
}
@media screen and (max-width: 688px) {
	.takehelper {
    	width: 236px !important;
	}
	#menu {
		display: none;
	}
	.links {
		display: block;
	}
	.adv__btn {
    	width: 217px;
	}
	.slider img {
    	width: 90%;
	}
	h1 {
	    font-size: 21px;
	    margin-left: 22px;
	    text-align: left;
	}
	.btn {
	    padding: 7px 0px;
	    width: 139px;
	    font-size: 12px;
	}
	.call__btn {
		padding: 7px 0px;
		width: 253px;
	    font-size: 18px;
	}
	.logo {
	    margin-bottom: 20px;
	}
	.logo img {
    	width: 139px;
    	margin-left: 10px;
	    margin-top: 31px;
	}
	.links {
		float: left;
		margin-left: 24px;
	}
	#menuToggle {
		display: block;
	}
	.consultation__call {
		width: 90%;
	}
}
@media screen and (max-width: 613px) {
	#consultation {
		height: 680px;
	}
}
@media screen and (max-width: 474px) {
	#consultation {
	    height: 580px;
	}
	.consultation__text h1 {
		font-size: 44px;
	}
	.call__text {
	    font-size: 16px;
	}
	.call__text span {
		line-height: 26px;
	}
	.footer__form form input {
		width: 90%;
	}
	.footer__form form {
	    text-align: none;
	    padding: 0 20px;
	}
	.footer__form {
	    padding-left: 0px;
	}
	.textarea {
	    width: 100%;
	    margin-left: 0px;
	}
	.secondwhy__item:after {
		width: 250px;
		margin: 0 auto;
		margin-top: 15px;
	}
	h1 {
		font-size: 19px;
	}
}
@media screen and (max-width: 320px) {
	#menu {
		display: none;
	}
	header {
		width: 100%;
	}
	.form {
		width: 100%;
		position: relative;
		height: auto;
		padding-bottom: 24px;
		border-radius: 0px;
	}
	.form__title {
		font-size: 25px;
		margin-left: 0px;
		text-align: center;
	}
	.content {
		width: 100%;
	}
	#firstscreen {
		height: auto;
	}
	.slider div img {
		width: 90%;
	}
	.form__title {
	    font-size: 23px;
	}
}