body {
	font-family: 'Sarabun', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%; 
}
html{ 
	height: 100%; 
}
ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}
/** {
	-moz-transition: all 0.3s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}*/
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.upper {
	text-transform: uppercase;
}
.bolder {
	font-weight: 700;
}
.wht{
	color: white;
}
.calculator {
	width: 295px;
	height: 469px;
	margin: 0 auto;
	border: 2px solid #636363;
	margin-top: 50px;
	position: relative;
}
.screen {
	height: 181px;
	text-align: right;
}
.screen__result {
	font-size: 38px;
	line-height: 38px;
	color: #717171;
	display: block;
    padding-top: 38px;
    padding-right: 17px;
}
#screen__result_live{
    font-size: 26px;
    line-height: 26px;
    color: #717171;
    display: block;
    padding-top: 15px;
    padding-right: 17px;
}
.numlock {
	float: left;
	background: #434343;
}
.numlock__button {
	display: block;
	width: 72px;
	height: 72px;
	text-align: center;
	float: left;
	line-height: 72px;
	font-size: 20px;
	color: white;
}
.buttons {
	float: left;
	background: #636363;
}
.buttons__item {
	width: 79px;
	height: 57.61px;
	text-align: center;
	line-height: 59px;
	font-size: 17px;
	color: white;
}
.numlock__button:hover,
.buttons__item:hover {
	cursor: pointer;
	background: #1de9b6;
}
.buttons__item:first-child {
	text-transform: uppercase;
	font-size: 12px;
}