body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	padding: 0px;
	margin: 0px;
}
html{ 
	height: 100%; 
}
ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.container {
	width: 1200px;
	margin: 0 auto;
	display: block;
}
a {
	text-decoration: none;
	color: white;
}
.clearfix::after {
	content: "";
    clear: both;
    display: table;
}
#header {
	display: flex;
    align-items: center;
	height: 100vh;
	background: url('../img/bg.jpg') no-repeat center center / cover;
}
.text {
	width: 600px;
	color: white;
	margin-bottom: 100px;
}
.text h1 {
	font-size: 36px;
}
.date {
	font-weight: 700;
    font-size: 15px;
    margin: 5px 0px;
}
.name {
	font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 27px;
}
.btn {
	border-radius: 6px;
    background: rgba(0, 0, 0, 0.4);
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 15px;
}
.btn:hover {
    background: black;  
}
.must__item {
	width: 300px;
    text-align: justify;
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
}
.must__item i {
	text-align: center;
    display: inherit;
    font-size: 55px;
    margin: 35px 0px;
    color: #374900;
}
.must__items {
	padding-bottom: 50px;
	display: flex;
    justify-content: space-between;
}
h2 {
	font-size: 30px;
    text-transform: uppercase;
	margin: 30px 0 50px 0;
	text-align: center;
}
#have {
	background: #6a8c03;
	padding: 10px 0;
	padding-bottom: 30px;
}
#have h2 {
	color: white;
}
.middle {
	background: white;
	cursor: pointer;
	box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.44);
}
.have__item.middle .message{
	color: black;
}
.have__item {
	display: flex;
    align-items: center;
    width: 846px;
    margin: 0 auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.have__item img {
	width: 161px;
	height: 120px;
    border-radius: 3px;
}
.message {
	margin-left: 30px;
    text-align: justify;
    color: white;
    font-weight: 700;
    font-size: 15px;
}
.program__item {
	width: 380px;
    text-align: justify;
	border-radius: 5px;
	padding-bottom: 15px;
	position: relative;
}
.program__item img {
	width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
.program__item ul {
	padding: 0px 10px;
    font-size: 14px;
    font-weight: 700;
}
.program__item ul li:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #d7d7d7;
    margin: 5px 0;
}
.program__item ul li:last-child:after {
	display: none;
}
.program__items {
	margin-bottom: 30px;
}
.day {
    font-size: 23px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
}
.program__items {
	display: flex;
	justify-content: space-between;
}
#how {
	background: black;
	color: white;
	padding: 50px 0;
}
.how__items * {
    width: 50%;
}
.how__items {
    display: flex;
    align-items: center;
}
.how__header h2{
	margin: 0 auto;
}
.how__content {
    text-align: center;
	padding: 0px 28px;
	font-size: 14px;
}
#bonus {
	background: #000000;
	padding-bottom: 25px;
}
#bonus h2 {
	padding: 25px 0px;
	font-size: 19px;
    margin: 0;
    color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.44);
    border-radius: 5px;
}
#about {
	padding-bottom: 60px;
}
.auther img{
	width: 220px;
    padding: 5px;
    box-shadow: 0 0 13px rgba(0,0,0,0.44);
	margin: 0 auto;
    display: block;
}
.auther__content,
.auther {
	width: 50%;
}
.about__content {
    display: flex;
    align-items: center;
}
.auther__content ul {
	padding: 0px 10px;
    font-size: 14px;
	font-weight: 700;
	padding: 0px 40px;
}
.auther__content ul li:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #d7d7d7;
    margin: 5px 0;
}
#documents {
	background: #6a8c03;
	color: white;
	padding-bottom: 40px;
}
#documents h2 {
	margin: 0;
    padding: 40px 0;
}
.documents__slider {
	padding-left: 10px;
}
.documents__slider img {
	width: 280px;
}
.documents__slider .slick-prev{
	background: url('../img/left.png') no-repeat center center !important;
}
.documents__slider .slick-next{
	background: url('../img/right.png') no-repeat center center;
}
.documents__slider .slick-arrow{
	width: 15px;
	height: 25px;
}
.slick-next:before,
.slick-prev:before{
	content: none;
}
.slick-active{
	border: none;
	outline: none;
}
footer {
	background: black;
	color: white;
}
footer h2 {
	margin: 0;
    padding: 16px 0;
    text-align: left;
	font-size: 15px;
	float: left;
}
footer .btn {
	background: white;
	color: black;
	float: right;
	display: block;
    margin: 9px 0;
}
footer .btn:hover {
	background: black;
	color: white;
	border: 1px solid white;
}
.rate__items {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}
.rate__item {
	display: flex;
	align-items: center;
}
.rate__item video{
	width: 350px !important;
	height: 260px !important;
}