@media screen and (max-width: 1280px) {
    .container {
        width: 980px;
    }
    .must__item {
        width: 280px;
    }
    .program__item {
        width: 280px;
    }
    #bonus h2 {
        padding: 25px 25px;
    }
    .documents__slider {
        padding-left: 25px;
    }
    .rate__item video {
        width: 296px !important;
        height: 171px !important;
    }
}
@media screen and (max-width: 1080px){
    .container {
        width: 880px;
    }
    .must__item {
        width: 240px;
    }
    .documents__slider {
        padding-left: 25px;
    }
    .documents__slider img {
        width: 220px;
    }
    .rate__item video {
        width: 270px !important;
        height: 155px !important;
    }
    .slick-prev {
        left: -17px;
    }
    .slick-next {
        right: 25px;
    }
    #documents {
        padding-left: 30px;
    }
}
@media screen and (max-width: 910px){
    .container {
        width: 768px;
    }
    .must__item {
        width: 219px;
    }
    .have__item {
        width: 740px;
    }
    .program__item {
        width: 246px;
    }
    .day {
        top: 63px;
    }
    .documents__slider img {
        width: 180px;
    }
    .rate__item video {
        width: 248px !important;
        height: 142px !important;
    }
    .btn,
    footer h2 {
        font-size: 13px;
    }
}
@media screen and (max-width: 788px) {
    .container {
        width: 95%;
    }
    .must__items,
    .program__items,
    .how__items {
        display: block;
    }
    .how__items * {
        width: 100%;
    }
    .how__content {
        padding: 0;
    }
    .must__item,
    .program__item {
        width: 280px;
        margin: 0 auto;
        margin-bottom: 0px;
        margin-bottom: 20px;
    }
    .have__item {
        width: 90%;
    }
    .documents__slider img {
        width: 280px;
        margin: 0 auto;
    }
    .documents__slider {
        padding-left: 0;
    }
    #documents {
        padding-left: 0;
    }
    .slick-prev {
        left: 30px;
    }
    .rate__item video {
        width: 280px !important;
        height: 161px !important;
    }
    .rate__items {
        display: block;
    }
    .rate__item video {
        width: 280px !important;
        height: 161px !important;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    footer h2,
    footer .btn {
        float: none;
        text-align: center;
    }
    .text {
        width: auto;
    }
}
@media screen and (max-width: 560px){
    .about__content {
        display: block;
    }
    .about__content * {
        margin: 0 auto;
    }
    .auther img {
        margin-bottom: 35px;
    }
    .auther__content, .auther {
        width: 100%;
    }
    .have__item {
        display: block;
    }
    .message {
        margin-left: 0;
    }
    .have__item img {
        margin: 0 auto;
        margin-bottom: 0px;
        display: block;
        margin-bottom: 13px;
    }
    .text h1 {
        font-size: 30px;
    }
    .date {
        font-size: 13px;
    }
    .name {
        font-size: 13px;
    }
    .must__item, .program__item {
        width: 273px;
    }
    .documents__slider .slick-arrow {
        z-index: 099999;
    }
    .slick-prev {
        left: 5px;
    }
    .slick-next {
        right: 5px;
    }
}